# Which Zipcode in King County Has the Most Expensive Sales Price in 2021 on  Average?

## Introduction

This project uses the dataset "kc_house_data.csv" from Kaggle.com. It includes sales information of homes sold between May 2014 and May 2015 in King County, including Seattle. The sales information contains price of sales and 19 features (i.e. number of bedroom, view) on 21613 observations. 

To answer the question, Y variable is homes' price of sales in U.S. dollars and the feature- zipcode is the first X variable that is used to compare home prices. In addition, to build the price prediction model and to investigate what features make houses in certain zipcodes more expensive, 3 additional features have been chosen to be X variables- square footage of the homes' interior living space(sqft_living), quality of construction and design(grade), and view. Note that grade is an index from 1 to 13, where 1-3 falls short of building construction and design, 7 is an average level, and 11-13 indicates a high quality level. View is an index from 0 to 4 of how good the view of the property was. The first two features are chosen based on their relatively strong correlation with home's sales price, and view is chosen because King County owns great views that zipcodes with better views may be more popular than other zipcodes.

## Import Data

In [1]:
# ! pip install qeds
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import qeds
%matplotlib inline

# activate plot theme
qeds.themes.mpl_style();

from IPython.display import display

In [2]:
# import and display dataset in dataframe format
data_path = "/Users/cindyxin/Documents/ECO225/ECO225Project/Data/kc_house_data.csv"
data = pd.read_csv(data_path)
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
# information of variables (check for null and type)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [4]:
# read all columns
pd.set_option("display.max_columns",21)
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

## Data Cleaning

In [5]:
# make a copy of data to make changes on
cleaned_data = data.copy()
cleaned_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
# create sales yr in a new column using sales date
from datetime import datetime

cleaned_data["datetime"] = pd.to_datetime(cleaned_data.date)
cleaned_data["yr_sales"] = cleaned_data["datetime"].dt.year

# create renovation dummy for houses renovated
cleaned_data["renovated"] = cleaned_data["yr_renovated"].apply(lambda x : 0 if x == 0 else 1)

In [7]:
# drop id, date, zipcode, and yr_renovated
cleaned_data = cleaned_data.drop(["date", "datetime", "id", "yr_renovated"], axis = 1)

In [8]:
# quick read over dataset 
cleaned_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,yr_sales,renovated
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,98178,47.5112,-122.257,1340,5650,2014,0
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,98125,47.7210,-122.319,1690,7639,2014,1
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,98028,47.7379,-122.233,2720,8062,2015,0
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,98136,47.5208,-122.393,1360,5000,2014,0
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,98074,47.6168,-122.045,1800,7503,2015,0

In [9]:
# information of variables (check for null and type)
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  zipcode        21613 non-null  int64
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  int64
 17  sqft_lot15     21613 non-null  int64
 18  yr_sales       21613 non-null  int64
 19  renovated      21613 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 3.3 MB

## Choosing X Variables by Observing Correlation of House Price and Individual Features

In [10]:
# correlation with y variable
corr_matrix = cleaned_data.corr()
corr_matrix['price'].sort_values(ascending = False)

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
renovated        0.126092
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
yr_sales         0.003576
zipcode         -0.053203
Name: price, dtype: float64

Observing the correlation of each feature and price (Y variable), we are going to choose features that are most correlated to price as X variables. These features are sqft_living, and grade. In addition, view is also really important in a sense because there are great views in King County that zipcodes with great views may be more popular than zipcodes without great views. Thus, view would also be a X variable.

In [11]:
# new dataframe with chosen X variables and Y variables
cleaned_data1 = data[["zipcode", "price", "sqft_living", "grade", "view"]]
cleaned_data1

       zipcode     price  sqft_living  grade  view
0        98178  221900.0         1180      7     0
1        98125  538000.0         2570      7     0
2        98028  180000.0          770      6     0
3        98136  604000.0         1960      7     0
4        98074  510000.0         1680      8     0
...        ...       ...          ...    ...   ...
21608    98103  360000.0         1530      8     0
21609    98146  400000.0         2310      8     0
21610    98144  402101.0         1020      7     0
21611    98027  400000.0         1600      8     0
21612    98144  325000.0         1020      7     0

[21613 rows x 5 columns]

## Summary Statistics

In [12]:
# summary statistics of chosen Xs and Y
cleaned_data1.describe()

            zipcode         price   sqft_living         grade          view
count  21613.000000  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   98077.939805  5.400881e+05   2079.899736      7.656873      0.234303
std       53.505026  3.671272e+05    918.440897      1.175459      0.766318
min    98001.000000  7.500000e+04    290.000000      1.000000      0.000000
25%    98033.000000  3.219500e+05   1427.000000      7.000000      0.000000
50%    98065.000000  4.500000e+05   1910.000000      7.000000      0.000000
75%    98118.000000  6.450000e+05   2550.000000      8.000000      0.000000
max    98199.000000  7.700000e+06  13540.000000     13.000000      4.000000

The summary statistics shows that price of houses in 2014-2015 ranged from 75,000 to 7,700,000 U.S.D.

In [13]:
# dataset group by zipcode 
group = cleaned_data1.groupby("zipcode")

for zipcode, zip_data in group:
    print(zipcode)
    print(zip_data)

98001
       zipcode     price  sqft_living  grade  view
38       98001  240000.0         1220      7     0
67       98001  287000.0         2240      7     0
114      98001  480000.0         3230      9     3
213      98001  465000.0         2714      9     0
292      98001  360000.0         2160      9     0
...        ...       ...          ...    ...   ...
21391    98001  269950.0         2244      7     0
21479    98001  312891.0         2300      8     0
21511    98001  480000.0         2940      9     0
21565    98001  341780.0         2260      7     0
21598    98001  541800.0         3118      9     2

[362 rows x 5 columns]
98002
       zipcode     price  sqft_living  grade  view
18       98002  189000.0         1200      7     0
25       98002  233000.0         1710      6     0
243      98002  225000.0         1300      6     0
248      98002  250000.0         2010      7     0
576      98002  266000.0         1805      7     0
...        ...       ...          ...    ...   ...
21029    98002  260000.0         2150      8     0
21087    98002  223990.0         1061      7     0
21140    98002  250000.0         1481      7     0
21221    98002  259000.0         1550      7     0
21278    98002  335900.0         2475      7     0

[199 rows x 5 columns]
98003
       zipcode     price  sqft_living  grade  view
6        98003  257500.0         1715      7     0
19       98003  230000.0         1250      7     0
135      98003  199000.0         1320      7     0
136      98003  220000.0         2020      7     0
152      98003  282950.0         1250      7     0
...        ...       ...          ...    ...   ...
19788    98003  349900.0         2052      8     0
20050    98003  379900.0         3181      8     0
20296    98003  950000.0         5635     10     3
20552    98003  298450.0         2100      8     0
21107    98003  333490.0         2250      8     0

[280 rows x 5 columns]
98004
       zipcode      price  sqft_living  grade  view
66       98004   975000.0         2720     10     0
69       98004  1325000.0         3200      8     0
103      98004  1088000.0         2920      8     0
125      98004  1450000.0         2750      8     0
269      98004  2900000.0         5050     11     2
...        ...        ...          ...    ...   ...
21473    98004  1750000.0         3560     10     0
21530    98004  3000000.0         5090     11     0
21533    98004   999999.0         2100      9     0
21568    98004  1700000.0         3830     10     0
21600    98004  1537000.0         4470     11     0

[317 rows x 5 columns]
98005
       zipcode      price  sqft_living  grade  view
70       98005  1040000.0         4770     11     0
329      98005   790000.0         2370      9     0
482      98005   849950.0         2990      8     0
564      98005   638700.0         2080      7     0
702      98005   480000.0         2180      6     0
...        ...        ...          ...    ...   ...
19010    98005   810000.0         3970     10     0
19103    98005   400000.0         1300      7     0
19196    98005  1185000.0         2760     10     0
19398    98005   625000.0         2210      8     0
19454    98005   780000.0         3000     10     0

[168 rows x 5 columns]
98006
       zipcode      price  sqft_living  grade  view
141      98006   527700.0         2820      8     0
144      98006   500000.0         2030      8     0
153      98006  2250000.0         5180     12     3
167      98006   807100.0         2680      9     0
174      98006   673000.0         2590      8     0
...        ...        ...          ...    ...   ...
21237    98006   800000.0         3410      9     0
21248    98006  1080000.0         2240      8     2
21258    98006  1240000.0         5430     10     2
21333    98006  1999950.0         5640     11     2
21540    98006  1881580.0         4410     10     3

[498 rows x 5 columns]
98007
       zipcode      price  sqft_living  grade  view
10       98007   662500.0         3560      8     0
47       98007   785000.0         2290      9     0
871      98007   469950.0         1620      7     0
895      98007   431650.0         1710      7     0
1012     98007   900000.0         2460      9     0
...        ...        ...          ...    ...   ...
19147    98007   450000.0         1460      8     0
19255    98007  1225000.0         3680     11     2
19469    98007   600000.0         2090      8     0
19533    98007   450000.0         1180      7     0
19554    98007  1080000.0         4910     10     0

[141 rows x 5 columns]
98008
       zipcode      price  sqft_living  grade  view
58       98008   951000.0         3250      8     4
76       98008   380000.0         1760      7     0
391      98008   490000.0         1980      9     0
396      98008   530000.0         2720      7     0
775      98008   420000.0         2000      8     0
...        ...        ...          ...    ...   ...
19617    98008   450000.0         1150      7     0
20252    98008  1300000.0         3350      9     0
20767    98008  2300000.0         4360     10     4
21521    98008  1378000.0         5150     10     2
21576    98008  3567000.0         4850     10     4

[283 rows x 5 columns]
98010
       zipcode     price  sqft_living  grade  view
79       98010  720000.0         3450     10     0
236      98010  416000.0         2220      7     0
534      98010  204000.0         1040      6     0
602      98010  185000.0         1430      7     0
719      98010  267000.0         1300      7     0
...        ...       ...          ...    ...   ...
19285    98010  208500.0          880      5     0
19892    98010  390000.0         2610      9     0
20203    98010  780000.0         3720     10     2
21259    98010  440000.0         2990      9     0
21602    98010  224000.0         1500      6     0

[100 rows x 5 columns]
98011
       zipcode     price  sqft_living  grade  view
222      98011  527000.0         2330      8     0
380      98011  270000.0         1380      6     0
434      98011  525000.0         2450      8     0
451      98011  333500.0         1220      7     0
536      98011  452000.0         1570      7     0
...        ...       ...          ...    ...   ...
20997    98011  699000.0         3200     10     0
21024    98011  870000.0         4495      9     0
21064    98011  769995.0         3360      9     0
21099    98011  447000.0         1740      7     0
21145    98011  749995.0         3430      9     0

[195 rows x 5 columns]
98014
       zipcode     price  sqft_living  grade  view
350      98014  299000.0          560      4     0
465      98014   80000.0          430      4     0
569      98014  405000.0         1160      6     0
921      98014  342000.0         1660      7     0
1197     98014  361000.0         1150      7     0
...        ...       ...          ...    ...   ...
20811    98014  580000.0         1820      7     0
21139    98014  310000.0         1160      7     0
21211    98014  425000.0         1680      7     0
21386    98014  320000.0         1790      7     0
21431    98014  800000.0         3540      9     0

[124 rows x 5 columns]
98019
       zipcode     price  sqft_living  grade  view
16       98019  395000.0         1890      7     0
45       98019  488000.0         3160      8     0
382      98019  389000.0         2130      7     0
392      98019  330000.0         1600      8     0
418      98019  355000.0         1860      8     0
...        ...       ...          ...    ...   ...
21325    98019  659000.0         3090      8     0
21363    98019  410000.0         2510      8     0
21448    98019  326000.0         1930      7     0
21461    98019  518000.0         2890      8     0
21495    98019  534950.0         3220      8     0

[190 rows x 5 columns]
98022
       zipcode     price  sqft_living  grade  view
158      98022  247000.0         1270      7     0
178      98022  269950.0         1950      7     2
332      98022  295000.0         1810      8     2
401      98022  360000.0         3730      7     0
591      98022  265000.0         1820      7     0
...        ...       ...          ...    ...   ...
20925    98022  246950.0         1670      7     0
21252    98022  272000.0         1870      7     3
21256    98022  249950.0         1670      7     0
21351    98022  565000.0         1130      8     0
21373    98022  325000.0         2800      7     0

[234 rows x 5 columns]
98023
       zipcode     price  sqft_living  grade  view
46       98023  210490.0          990      6     0
90       98023  243500.0         1980      7     0
92       98023  153000.0         1200      7     0
97       98023  199000.0         1160      7     0
127      98023  260000.0         2160      8     0
...        ...       ...          ...    ...   ...
21407    98023  330000.0         2238      8     0
21464    98023  380000.0         3120      9     0
21470    98023  249000.0         1030      5     2
21535    98023  332000.0         2380      7     0
21575    98023  399950.0         3087      8     0

[499 rows x 5 columns]
98024
       zipcode      price  sqft_living  grade  view
198      98024   440000.0         1910      7     0
233      98024   213000.0         1000      6     0
416      98024   563500.0         2085      7     0
419      98024  1550000.0         6070     12     0
527      98024  1600000.0         6050     11     3
...        ...        ...          ...    ...   ...
19907    98024   802945.0         4000      9     0
20251    98024   771005.0         4000      9     0
21090    98024   720000.0         3150      9     0
21343    98024   332220.0         2580      7     0
21486    98024  1459000.0         4620     10     0

[81 rows x 5 columns]
98027
       zipcode      price  sqft_living  grade  view
30       98027   580500.0         2320      8     0
110      98027   597750.0         2310      8     0
131      98027   660500.0         2010      8     0
147      98027   430000.0         2420      7     0
164      98027   420000.0         2020      7     0
...        ...        ...          ...    ...   ...
21506    98027  2238890.0         7270     12     0
21536    98027   336750.0         1170      7     0
21544    98027   589999.0         2140      8     0
21573    98027   785000.0         3070     10     0
21611    98027   400000.0         1600      8     0

[412 rows x 5 columns]
98028
       zipcode     price  sqft_living  grade  view
2        98028  180000.0          770      6     0
12       98028  310000.0         1430      7     0
137      98028  452000.0         2590      8     0
277      98028  770000.0         3820      9     0
284      98028  330000.0         2420      8     0
...        ...       ...          ...    ...   ...
21174    98028  525000.0         2650      8     0
21249    98028  494000.0         2310      8     0
21272    98028  415500.0         1750      7     0
21365    98028  382000.0         1450      7     0
21527    98028  535000.0         2610      8     0

[283 rows x 5 columns]
98029
       zipcode     price  sqft_living  grade  view
133      98029  453246.0         2010      8     0
475      98029  520000.0         1890      7     0
604      98029  435500.0         1450      7     0
612      98029  533600.0         1930      8     0
617      98029  485000.0         1880      8     0
...        ...       ...          ...    ...   ...
21288    98029  773000.0         2470      9     0
21362    98029  405000.0         1500      7     0
21394    98029  782000.0         3910      9     0
21399    98029  775000.0         3060      9     0
21446    98029  358000.0         1400      7     0

[321 rows x 5 columns]
98030
       zipcode     price  sqft_living  grade  view
23       98030  252700.0         1070      7     0
24       98030  329000.0         2450      8     0
180      98030  260000.0         1670      7     0
223      98030  325000.0         2220      8     0
254      98030  245000.0         1730      7     0
...        ...       ...          ...    ...   ...
21229    98030  380000.0         2864      8     0
21231    98030  452000.0         2716      9     0
21276    98030  378950.0         1867      9     0
21537    98030  370000.0         2531      8     0
21562    98030  422000.0         2930     10     0

[256 rows x 5 columns]
98031
       zipcode     price  sqft_living  grade  view
228      98031  235000.0         1430      7     0
265      98031  290000.0         1700      7     0
275      98031  365000.0         2653      8     0
280      98031  304900.0         2600      7     0
410      98031  268000.0         1550      7     0
...        ...       ...          ...    ...   ...
20539    98031  286800.0         1413      8     0
20561    98031  485230.0         2714      9     0
20573    98031  305000.0         1763      8     0
20867    98031  299000.0         1350      8     0
21436    98031  255000.0         2555      8     0

[274 rows x 5 columns]
98032
       zipcode     price  sqft_living  grade  view
96       98032  247500.0         1960      7     0
148      98032  258000.0         2260      8     0
250      98032  260000.0         1810      7     0
444      98032  205000.0          940      7     0
497      98032  299000.0         3080      7     2
...        ...       ...          ...    ...   ...
19477    98032  278000.0         1820      7     0
19486    98032  299500.0         1810      8     0
19488    98032  234000.0         1390      7     0
20512    98032  324950.0         2229      7     0
20873    98032  375000.0         3206      7     0

[125 rows x 5 columns]
98033
       zipcode      price  sqft_living  grade  view
173      98033   917500.0         3880     10     0
185      98033  1095000.0         4090     10     2
235      98033  1025000.0         3760     10     0
358      98033   900000.0         1330      7     0
363      98033   604950.0         2110      8     0
...        ...        ...          ...    ...   ...
21328    98033   999000.0         3130     10     0
21460    98033  1020000.0         3770     10     0
21465    98033   875000.0         2960      9     0
21469    98033  1050000.0         3280     10     0
21485    98033  1720000.0         4590     10     0

[432 rows x 5 columns]
98034
       zipcode     price  sqft_living  grade  view
71       98034  325000.0         1260      7     0
121      98034  391500.0         1450      7     0
161      98034  438000.0         1780      7     0
163      98034  441000.0         1910      7     0
165      98034  370000.0         1580      7     0
...        ...       ...          ...    ...   ...
20580    98034  289000.0         1160      7     0
20756    98034  249000.0         1090      7     0
20868    98034  479000.0         1741      8     0
21153    98034  915000.0         2910      8     0
21322    98034  834950.0         3630      9     0

[545 rows x 5 columns]
98038
       zipcode     price  sqft_living  grade  view
9        98038  323000.0         1890      7     0
73       98038  360000.0         2380      8     0
80       98038  390000.0         2350      8     0
81       98038  360000.0         1900      7     0
98       98038  314000.0         1810      7     0
...        ...       ...          ...    ...   ...
21356    98038  345000.0         2280      7     0
21415    98038  389990.0         2245      8     0
21445    98038  531155.0         2810      9     0
21563    98038  337000.0         2470      8     0
21589    98038  347500.0         2540      8     0

[590 rows x 5 columns]
98039
       zipcode      price  sqft_living  grade  view
2974     98039  2950000.0         4860     12     0
3761     98039  1905000.0         4210     11     0
4077     98039   875000.0         1220      7     0
4078     98039   940000.0         1220      7     0
4149     98039  4000000.0         7080     12     0
4411     98039  5570000.0         9200     13     0
4791     98039   937500.0         1320      7     0
5178     98039  1160000.0         2680      8     2
5589     98039  1880000.0         2620      9     1
5880     98039  3418800.0         5450     11     0
6868     98039  1555000.0         2870      8     0
7501     98039  1398000.0         2640      7     0
8241     98039  1320000.0         2680      9     0
9254     98039  6885000.0         9890     13     4
9694     98039   865000.0         1530      8     0
9809     98039  1000000.0         2300      8     0
11278    98039  2100000.0         3550      9     0
11952    98039  2575000.0         4780     10     0
12295    98039  1712750.0         2660      9     0
12811    98039   787500.0         1580      7     0
13235    98039  1651000.0         3640      9     0
13267    98039  1800000.0         4460      9     0
13419    98039  1550000.0         2950      8     0
13621    98039  1762000.0         3060     10     0
13988    98039  1225000.0         2740      9     0
14052    98039  2750000.0         4430     10     0
14254    98039  1950000.0         4150      9     0
14385    98039  2200000.0         3570      8     1
14803    98039  1260000.0         3110      8     1
15022    98039  2450000.0         4670     11     2
15255    98039  3640900.0         4830     11     4
15632    98039  2271150.0         4040      9     0
16268    98039  1620000.0         2350      9     0
16302    98039  3710000.0         5550     12     2
16377    98039  1200000.0         2150      8     0
16825    98039  2500000.0         4300     11     0
17001    98039  2187730.0         4240     10     0
17209    98039  1450000.0         3090      9     0
17230    98039  1880000.0         3260     10     0
17899    98039  2458000.0         6500     11     0
17930    98039  1350000.0         2070      7     1
18793    98039  2680000.0         4290     11     0
18892    98039  1410000.0         3250      9     0
18912    98039  1920000.0         3070      9     3
19148    98039  3635000.0         5490     12     0
19236    98039  2720000.0         3990     11     0
19351    98039  1950000.0         4065     10     0
20096    98039  2250000.0         3410     11     0
21040    98039  2900000.0         5190     11     1
21514    98039  1865000.0         3790     11     0
98040
       zipcode      price  sqft_living  grade  view
21       98040  2000000.0         3050      9     4
95       98040   905000.0         3300      7     0
192      98040   799000.0         2140      8     0
205      98040   840000.0         2480      9     0
216      98040  1505000.0         3300      9     3
...        ...        ...          ...    ...   ...
20664    98040  2321000.0         5780     11     0
20824    98040  1600000.0         3570     10     0
21166    98040  1839900.0         4140     10     0
21310    98040  2351960.0         5010     11     1
21597    98040  1575000.0         3410     10     0

[282 rows x 5 columns]
98042
       zipcode     price  sqft_living  grade  view
56       98042  292500.0         2250      7     0
57       98042  301000.0         2420      8     0
68       98042  204000.0         1000      7     0
74       98042  349000.0         1790      7     0
201      98042  297000.0         1940      8     0
...        ...       ...          ...    ...   ...
21463    98042  337500.0         2330      7     0
21526    98042  290000.0         1610      7     0
21553    98042  465000.0         2050      9     0
21585    98042  270000.0         1870      7     0
21594    98042  350000.0         2500      8     0

[548 rows x 5 columns]
98045
       zipcode      price  sqft_living  grade  view
99       98045   437500.0         2320      9     2
252      98045   415000.0         1510      8     0
258      98045   255000.0         1230      7     0
365      98045   465000.0         1840      7     0
403      98045   437000.0         1750      8     0
...        ...        ...          ...    ...   ...
21344    98045  1488000.0         6880     12     3
21348    98045   535365.0         2790      8     0
21361    98045   472000.0         3800      8     0

[105 rows x 5 columns]
98103
       zipcode     price  sqft_living  grade  view
17       98103  485000.0         1600      7     0
111      98103  570000.0         1260      6     0
116      98103  518500.0         1590      8     0
128      98103  822500.0         2320      7     0
149      98103  511000.0         1430      7     0
...        ...       ...          ...    ...   ...
21567    98103  690000.0         1540      9     0
21574    98103  610950.0         1680      8     0
21592    98103  475000.0         1190      8     0
21595    98103  520000.0         1530      8     0
21608    98103  360000.0         1530      8     0

[602 rows x 5 columns]
98105
       zipcode      price  sqft_living  grade  view
54       98105   920000.0         2730      8     0
55       98105   885000.0         2830      9     0
211      98105   625504.0         1270      8     0
308      98105   550700.0         1010      6     0
330      98105   880000.0         2800      9     0
...        ...        ...          ...    ...   ...
20823    98105  1485000.0         3930     10     0
21126    98105   545000.0         1280      8     0
21240    98105   525000.0         1030      8     0
21476    98105   433000.0         1270      8     0
21534    98105   599000.0         1650      8     0

[229 rows x 5 columns]
98106
       zipcode     price  sqft_living  grade  view
247      98106  181000.0          720      6     0
256      98106  385000.0         2360      7     0
266      98106  285000.0         1120      7     0
390      98106  345000.0         1550      7     0
547      98106  259950.0         1070      9     0
...        ...       ...          ...    ...   ...
21474    98106  359800.0         2170      8     0
21500    98106  443000.0         2430      8     0
21550    98106  249000.0         1260      7     0
21559    98106  305000.0         1590      7     0
21570    98106  330000.0         1450      7     0

[335 rows x 5 columns]
98107
       zipcode     price  sqft_living  grade  view
14       98107  530000.0         1810      7     0
37       98107  640000.0         2360      8     0
134      98107  675000.0         2140      9     0
139      98107  519950.0         1170      8     0
151      98107  560000.0         1110      7     0
...        ...       ...          ...    ...   ...
21274    98107  590000.0         1740      8     0
21305    98107  495000.0         1280      8     0
21516    98107  440000.0         1230      8     0
21556    98107  553000.0         1400      8     0
21586    98107  505000.0         1430      8     0

[266 rows x 5 columns]
98108
       zipcode     price  sqft_living  grade  view
113      98108  329950.0         2080      7     2
196      98108  423000.0         1970      7     0
234      98108  475000.0         2480      7     0
298      98108  404000.0         2030      7     0
572      98108  442000.0         2560      7     0
...        ...       ...          ...    ...   ...
21197    98108  477000.0         2100      7     0
21279    98108  229800.0         1110      8     0
21315    98108  440000.0         1650      7     0
21327    98108  535000.0         2840      9     3
21572    98108  230000.0         1140      8     0

[186 rows x 5 columns]
98109
       zipcode      price  sqft_living  grade  view
146      98109   890000.0         2550      8     0
568      98109   610000.0         1180      8     0
1065     98109   550000.0         1520      8     0
1097     98109   453500.0         1000      6     0
1148     98109   725000.0         1940      7     0
...        ...        ...          ...    ...   ...
20929    98109   600000.0         1690      8     0
20933    98109  1550000.0         3530      9     0
20950    98109   605000.0         1500      7     2
21017    98109   550000.0         1420      9     0
21566    98109   710200.0         1670      8     0

[109 rows x 5 columns]
98112
       zipcode      price  sqft_living  grade  view
27       98112   667000.0         1400      8     0
260      98112   780000.0         1660      8     0
305      98112   725000.0         1920      8     0
495      98112   490000.0         1230      8     0
518      98112  2250000.0         4760      9     0
...        ...        ...          ...    ...   ...
20939    98112  1300000.0         2360      9     0
21098    98112   649000.0         1720      8     0
21304    98112   799950.0         1860      9     0
21316    98112  1698000.0         3950     11     0
21552    98112   516500.0         1100      9     0

[269 rows x 5 columns]
98115
       zipcode      price  sqft_living  grade  view
11       98115   468000.0         1160      7     0
28       98115   438000.0         1520      7     0
35       98115   696000.0         2300      8     0
48       98115   450000.0         1250      7     0
63       98115   549000.0         1540      8     0
...        ...        ...          ...    ...   ...
21338    98115   435000.0         1180      7     0
21352    98115   495000.0         1460      8     0
21364    98115   419500.0         1400      8     0
21425    98115  1050000.0         3260      9     1
21440    98115   440000.0         1270      8     0

[583 rows x 5 columns]
98116
       zipcode     price  sqft_living  grade  view
77       98116  480000.0         1040      7     0
207      98116  425000.0         1010      7     0
359      98116  679900.0         2440      9     2
405      98116  650000.0         1510      9     0
496      98116  725000.0         2110      9     0
...        ...       ...          ...    ...   ...
21509    98116  600000.0         1830      9     0
21510    98116  420000.0         1470      8     0
21517    98116  390000.0         1370      8     0
21584    98116  380000.0         1260      7     0
21607    98116  475000.0         1310      8     0

[330 rows x 5 columns]
98117
       zipcode     price  sqft_living  grade  view
32       98117  687500.0         2330      7     0
33       98117  535000.0         1090      8     0
52       98117  600000.0         1410      7     0
53       98117  585000.0         1980      7     0
93       98117  430000.0         1580      8     0
...        ...       ...          ...    ...   ...
21489    98117  352500.0          980      8     0
21538    98117  324000.0          998      7     0
21569    98117  329000.0          980      8     0
21582    98117  490000.0         1500      8     0
21588    98117  414500.0         1210      8     0

[553 rows x 5 columns]
98118
       zipcode     price  sqft_living  grade  view
82       98118  355000.0         2020      7     0
123      98118  445000.0         2100      7     0
214      98118  477000.0         1720      8     0
253      98118  349500.0         1400      7     0
279      98118  405000.0         2390      6     0
...        ...       ...          ...    ...   ...
21398    98118  350000.0         1660      7     0
21439    98118  639000.0         2010      9     0
21481    98118  495000.0         1750      9     0
21519    98118  420000.0         1070      8     0
21522    98118  462500.0         2390      7     0

[508 rows x 5 columns]
98119
       zipcode      price  sqft_living  grade  view
26       98119   937000.0         2450      8     0
43       98119   685000.0         1570      7     0
85       98119   940000.0         2140      9     0
140      98119   665000.0         1110      7     0
312      98119  2384000.0         3650     10     4
...        ...        ...          ...    ...   ...
21372    98119   490000.0         4460     10     2
21395    98119   779000.0         1580      9     1
21401    98119   438000.0          980      8     0
21557    98119   530000.0         1410      8     0
21579    98119   645000.0         1730      9     2

[184 rows x 5 columns]
98122
       zipcode      price  sqft_living  grade  view
64       98122   425000.0         1660      7     0
175      98122   425000.0         1120      8     0
177      98122   385000.0         1220      6     0
237      98122   410000.0         1970      7     0
282      98122  2050000.0         3830      9     1
...        ...        ...          ...    ...   ...
21326    98122   353000.0          550      7     0
21419    98122   729999.0         1630     10     0
21453    98122   375000.0          750      8     0
21528    98122   585000.0         1750      8     0
21558    98122   747450.0         2110      8     0

[290 rows x 5 columns]
98125
       zipcode     price  sqft_living  grade  view
1        98125  538000.0         2570      7     0
72       98125  571000.0         2750      7     0
84       98125  315000.0          960      6     0
138      98125  382500.0         1190      6     0
342      98125  425000.0         2500      8     0
...        ...       ...          ...    ...   ...
21330    98125  685000.0         2840      8     0
21371    98125  417250.0         1606      8     0
21539    98125  338500.0         1333      7     3
21587    98125  385000.0         1520      8     0
21601    98125  467000.0         1425      8     0

[410 rows x 5 columns]
98126
       zipcode     price  sqft_living  grade  view
15       98126  650000.0         2950      9     3
181      98126  470000.0         2380      7     0
197      98126  465000.0         2150      8     0
241      98126  210000.0          830      6     0
294      98126  550000.0         1970      8     3
...        ...       ...          ...    ...   ...
21379    98126  391000.0         1800      8     0
21428    98126  365000.0         1800      8     0
21443    98126  250000.0         1180      8     0
21542    98126  715000.0         2630      9     0
21547    98126  327000.0         1490      8     0

[354 rows x 5 columns]
98133
       zipcode     price  sqft_living  grade  view
20       98133  385000.0         1620      7     0
31       98133  280000.0         1190      7     0
78       98133  410000.0         1410      7     0
143      98133  420000.0         1060      7     0
169      98133  371500.0         1370      7     0
...        ...       ...          ...    ...   ...
21429    98133  288000.0         1150      7     0
21430    98133  700000.0         2230      8     0
21492    98133  400000.0         1910      8     0
21493    98133  649950.0         2420      9     0
21497    98133  370000.0         1496      8     0

[494 rows x 5 columns]
98136
       zipcode      price  sqft_living  grade  view
3        98136   604000.0         1960      7     0
89       98136   335000.0         1030      7     0
483      98136   525000.0         1350      7     2
507      98136   442000.0         1190      7     0
640      98136   378000.0         1300      7     0
...        ...        ...          ...    ...   ...
21507    98136   377500.0         1350      8     0
21512    98136   406000.0         1110      7     0
21529    98136   670000.0         3310      8     2
21531    98136   346000.0         1060      7     0
21606    98136  1007500.0         3510      9     0

[263 rows x 5 columns]
98144
       zipcode      price  sqft_living  grade  view
65       98144   317625.0         2770      7     0
119      98144   535000.0         1610      7     0
176      98144   399950.0         1970      7     0
218      98144  1072000.0         3900      8     3
263      98144   425000.0          770      5     0
...        ...        ...          ...    ...   ...
21577    98144   579000.0         1900      9     0
21578    98144   362500.0          940      7     0
21604    98144   429000.0         1490      8     0
21610    98144   402101.0         1020      7     0
21612    98144   325000.0         1020      7     0

[343 rows x 5 columns]
98146
       zipcode     price  sqft_living  grade  view
8        98146  229500.0         1780      7     0
160      98146  255000.0         2060      7     0
217      98146  445838.0         2250      8     0
225      98146  390000.0         1250      7     0
324      98146  232000.0         1240      6     0
...        ...       ...          ...    ...   ...
20720    98146  287450.0         1440      7     0
20785    98146  399963.0         2620      8     0
21385    98146  392000.0         2130      8     0
21393    98146  350000.0         1730      8     0
21609    98146  400000.0         2310      8     0

[288 rows x 5 columns]
98148
       zipcode     price  sqft_living  grade  view
50       98148  228000.0         1190      7     0
61       98148  289000.0         1260      7     0
2057     98148  319990.0         1890      7     0
2240     98148  310000.0         1460      7     0
2294     98148  260000.0         1320      7     0
2659     98148  202500.0         1510      7     0
2926     98148  265000.0         1380      7     0
2947     98148  225000.0          940      7     0
3289     98148  193000.0         1180      7     0
3902     98148  270000.0         2490      7     0
3970     98148  122000.0          730      6     0
4006     98148  295000.0         1770      7     0
4079     98148  280000.0         1780      7     0
4373     98148  191000.0          990      7     0
4646     98148  289950.0         1760      7     0
5086     98148  240000.0         1570      7     0
5598     98148  362000.0         1640      7     0
5910     98148  250000.0         1920      8     0
7061     98148  295000.0         1380      7     0
7107     98148  295000.0         1660      7     0
7528     98148  290000.0         1240      7     0
7665     98148  285000.0         1400      7     0
8007     98148  569950.0         3380      8     0
8643     98148  222200.0         1210      7     0
8711     98148  348000.0         1730      7     0
9166     98148  315000.0         2170      8     0
9370     98148  251200.0         1310      7     0
9584     98148  340000.0         1720      7     0
9968     98148  280000.0         1610      7     0
10439    98148  375000.0         2210      7     0
11244    98148  221000.0          910      7     0
11661    98148  255000.0         1250      7     0
11664    98148  255000.0         1140      7     0
11856    98148  154500.0          890      6     0
11879    98148  339950.0         1730      7     0
11903    98148  280500.0         1670      7     0
13352    98148  257500.0         1690      7     0
13628    98148  105500.0          930      5     0
13629    98148  445000.0          930      5     0
14717    98148  289000.0         1580      7     0
15053    98148  260000.0         1580      7     0
15442    98148  195000.0         2170      7     0
15520    98148  415000.0         2670      7     0
15550    98148  339950.0         2670      8     0
15663    98148  185000.0         1010      6     0
15949    98148  235000.0          930      6     0
17768    98148  345000.0         2040      7     0
17820    98148  245000.0         1260      7     0
17871    98148  278000.0         2400      8     0
18058    98148  244000.0         1180      7     0
18484    98148  330000.0         2000      7     0
18586    98148  195000.0         1320      7     0
18681    98148  267000.0         1030      7     0
19152    98148  600600.0         3110      8     0
19512    98148  246500.0          940      7     0
19615    98148  338000.0         2440      6     0
20710    98148  459000.0         2530      7     0
98155
       zipcode     price  sqft_living  grade  view
194      98155  230000.0         1060      7     0
349      98155  387000.0         2500      7     0
552      98155  451000.0         1790      7     0
662      98155  475000.0         1640      7     0
707      98155  550000.0         2480      8     3
...        ...       ...          ...    ...   ...
19606    98155  335000.0         1570      7     0
19607    98155  689000.0         3250      9     0
20179    98155  665000.0         2460      8     0
20773    98155  345000.0         1680      7     0
20949    98155  379950.0         1860      8     0

[446 rows x 5 columns]
98166
       zipcode     price  sqft_living  grade  view
41       98166  775000.0         4220      8     0
60       98166  650000.0         2150      8     3
62       98166  505000.0         2519      8     0
170      98166  284000.0         1560      7     0
208      98166  180250.0          900      6     0
...        ...       ...          ...    ...   ...
19971    98166  988500.0         2015      9     4
20111    98166  320000.0         1820      8     0
20532    98166  550000.0         1930      7     0
20981    98166  857326.0         3940     10     0
21549    98166  327500.0         1820      8     0

[254 rows x 5 columns]
98168
       zipcode     price  sqft_living  grade  view
118      98168  171800.0         1570      6     0
215      98168  280000.0          850      6     0
468      98168  340500.0         2270      7     0
549      98168  215000.0         1320      6     0
595      98168  240500.0         1460      7     0
...        ...       ...          ...    ...   ...
20211    98168  347500.0         2230      7     0
20887    98168  355000.0         2540      7     0
20908    98168  350000.0         2040      7     0
20977    98168  268000.0         1700      7     0
21412    98168  334950.0         2230      7     0

[269 rows x 5 columns]
98177
       zipcode     price  sqft_living  grade  view
120      98177  660000.0         2400      8     2
179      98177  330000.0         1350      7     0
219      98177  467000.0         1320      8     0
306      98177  550000.0         1800      8     0
389      98177  385000.0         2040      7     0
...        ...       ...          ...    ...   ...
20317    98177  425000.0         2320      8     0
20391    98177  700000.0         3040      9     0
20543    98177  390500.0         1530      7     0
20733    98177  685000.0         2310      9     0
21002    98177  529000.0         1540      8     0

[255 rows x 5 columns]
98178
       zipcode     price  sqft_living  grade  view
0        98178  221900.0         1180      7     0
117      98178  205425.0          880      6     0
126      98178  445000.0         2100      8     2
273      98178  236000.0         1300      7     0
281      98178  170000.0          860      6     0
...        ...       ...          ...    ...   ...
20590    98178  445000.0         3450      8     0
20903    98178  335000.0         1900      7     0
21059    98178  664950.0         3190      9     2
21198    98178  450000.0         2240      8     0
21591    98178  572000.0         2770      8     0

[262 rows x 5 columns]
98188
       zipcode     price  sqft_living  grade  view
299      98188  267500.0         1590      7     2
505      98188  240000.0         1330      7     0
557      98188  238000.0         1400      7     0
605      98188  469000.0         3550      8     0
637      98188  245000.0         1360      7     0
...        ...       ...          ...    ...   ...
20346    98188  400200.0         2260      7     0
20427    98188  262000.0         2070      7     0
20695    98188  500000.0         3630     10     0
20856    98188  399500.0         2560      8     0
21354    98188  495000.0         3390      8     0

[136 rows x 5 columns]
98198
       zipcode     price  sqft_living  grade  view
7        98198  291850.0         1060      7     0
107      98198  188500.0         1240      8     0
166      98198  269950.0         1340      5     0
221      98198  279950.0         1750      7     0
261      98198  237000.0         1270      7     0
...        ...       ...          ...    ...   ...
20764    98198  380000.0         1984      8     0
20765    98198  770000.0         4750     10     2
20829    98198  735000.0         3200      9     2
20958    98198  269800.0         1830      8     0
21554    98198  388000.0         2198      8     2

[280 rows x 5 columns]
98199
       zipcode      price  sqft_living  grade  view
91       98199  1099880.0         3520     10     0
274      98199   331000.0         1080      7     0
551      98199  1450000.0         4380     10     3

In [14]:
# summary statistics of Xs and Y grouped by zipcode
group.describe()

         price                                                              \
         count          mean            std       min       25%        50%
zipcode
98001    362.0  2.808047e+05   98979.230092  100000.0  215000.0   260000.0
98002    199.0  2.342840e+05   52041.448659   95000.0  199975.0   235000.0
98003    280.0  2.941113e+05  107597.662236  128000.0  229000.0   267475.0
98004    317.0  1.355927e+06  745820.089407  425000.0  845000.0  1150000.0
98005    168.0  8.101649e+05  268753.720249  400000.0  637775.0   765475.0
...        ...           ...            ...       ...       ...        ...
98177    255.0  6.761854e+05  435849.885258  245560.0  428500.0   554000.0
98178    262.0  3.106128e+05  161044.746227   90000.0  223250.0   278277.0
98188    136.0  2.890783e+05  103106.579944  110000.0  228750.0   264000.0
98198    280.0  3.028789e+05  154799.271902   95000.0  216375.0   265000.0
98199    317.0  7.918208e+05  397868.234000  323000.0  535000.0   689800.0

                              sqft_living               ... grade        \
               75%        max       count         mean  ...   75%   max
zipcode                                                 ...
98001     319375.0   850000.0       362.0  1900.856354  ...   8.0  10.0
98002     268500.0   389000.0       199.0  1627.743719  ...   7.0   8.0
98003     330000.0   950000.0       280.0  1928.882143  ...   8.0  11.0
98004    1691000.0  7062500.0       317.0  2909.022082  ...  10.0  13.0
98005     911250.0  1960000.0       168.0  2656.803571  ...   9.0  12.0
...            ...        ...         ...          ...  ...   ...   ...
98177     739475.0  3800000.0       255.0  2323.333333  ...   8.0  13.0
98178     349792.5  1700000.0       262.0  1729.351145  ...   7.0  10.0
98188     335000.0   707000.0       136.0  1802.772059  ...   7.0  10.0
98198     340000.0  1350000.0       280.0  1745.360714  ...   7.0  11.0
98199     950000.0  3200000.0       317.0  2161.798107  ...   9.0  13.0

          view
         count      mean       std  min  25%  50%  75%  max
zipcode
98001    362.0  0.102210  0.529512  0.0  0.0  0.0  0.0  4.0
98002    199.0  0.010050  0.141776  0.0  0.0  0.0  0.0  2.0
98003    280.0  0.214286  0.653479  0.0  0.0  0.0  0.0  3.0
98004    317.0  0.305994  0.840657  0.0  0.0  0.0  0.0  4.0
98005    168.0  0.095238  0.538773  0.0  0.0  0.0  0.0  4.0
...        ...       ...       ...  ...  ...  ...  ...  ...
98177    255.0  0.815686  1.349157  0.0  0.0  0.0  2.0  4.0
98178    262.0  0.534351  1.109331  0.0  0.0  0.0  0.0  4.0
98188    136.0  0.147059  0.602826  0.0  0.0  0.0  0.0  3.0
98198    280.0  0.592857  1.172544  0.0  0.0  0.0  0.0  4.0
98199    317.0  0.552050  1.019418  0.0  0.0  0.0  1.0  3.0

[70 rows x 32 columns]

In [15]:
# 2014-2015 average sales price of homes in different zipcodes.
zipcode_mean_price = group["price"].mean()
zipcode_price_rank = zipcode_mean_price.sort_values(ascending = False)
zipcode_price_rank.reset_index()

    zipcode         price
0     98039  2.160607e+06
1     98004  1.355927e+06
2     98040  1.194230e+06
3     98112  1.095499e+06
4     98102  9.012583e+05
..      ...           ...
65    98148  2.849086e+05
66    98001  2.808047e+05
67    98032  2.512962e+05
68    98168  2.403284e+05
69    98002  2.342840e+05

[70 rows x 2 columns]

In 2014-2015, homes in zipcode 98039 have the most expensive sales price on average. This area is located by Lake Washington.

In [16]:
# 2014-2015 average grade on quality of construction and design of homes in different zipcodes.
zipcode_mean_grade = group["grade"].mean()
zipcode_grade_rank = zipcode_mean_grade.sort_values(ascending = False)
zipcode_grade_rank.reset_index()

    zipcode     grade
0     98039  9.560000
1     98075  9.008357
2     98040  8.960993
3     98006  8.795181
4     98077  8.782828
..      ...       ...
65    98106  6.865672
66    98146  6.822917
67    98178  6.816794
68    98002  6.693467
69    98168  6.509294

[70 rows x 2 columns]

In 2014-2015, homes in zipcode 98039 have the best average grade on quality of construction and design of homes. Note that it's the same zipcode that has on average the most expensive sales price in this time period.

In [17]:
# 2014-2015 average grade on view of homes in different zipcodes.
zipcode_mean_view = group["view"].mean()
zipcode_view_rank = zipcode_mean_view.sort_values(ascending = False)
zipcode_view_rank.reset_index()

    zipcode      view
0     98070  1.084746
1     98177  0.815686
2     98040  0.783688
3     98166  0.665354
4     98006  0.634538
..      ...       ...
65    98168  0.014870
66    98077  0.010101
67    98002  0.010050
68    98031  0.007299
69    98148  0.000000

[70 rows x 2 columns]

In 2014-2015, homes in zipcode 98070 have the best average grade on homes' view. However, this is not one of the several most expensive zipcodes shown in zipcode_price_rank. In general, the top and bottom zipcodes in this table barely appears on zipcode_price_rank. This indicates a relatively weak correlation of view and price of home.

In [18]:
# 2014-2015 average square footage of the apartments' interior living space in different zipcodes.
zipcode_mean_sqft_living = group["sqft_living"].mean()
zipcode_sqft_living_rank = zipcode_mean_sqft_living.sort_values(ascending = False)
zipcode_sqft_living_rank.reset_index()

    zipcode  sqft_living
0     98039  3800.900000
1     98040  3106.833333
2     98075  3016.370474
3     98004  2909.022082
4     98006  2888.295181
..      ...          ...
65    98148  1610.526316
66    98107  1579.548872
67    98126  1543.596045
68    98106  1487.883582
69    98168  1468.624535

[70 rows x 2 columns]

In 2014-2015, homes in zipcode 98039 have the biggest square footage of the homes' interior living space. At the same time, this zipcode also has the best average grade on quality of construction and design, and the zipcode is on average the most expensive zipcode in time period.